
.navbar a {
  color: var(--white);
  text-decoration: none;
  text-align: center;
}

.icon img {
  width: auto;
  height: 32px;
}

.logo {
  margin: 0 auto;
  max-width: 180px;
  height: auto;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 72px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0px;
}

.navbar a {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.button {
  height: 100%;
}

.title {
  display: none;
  opacity: 0;
  visibility: hidden;
  text-transform: uppercase;
  font-weight: 700;
}

.active .title {
  display: block;
  will-change: visibility;
  animation: titleShowAnimation 0.3s linear forwards;
}

@keyframes titleShowAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.icon {
  position: relative;
  transition: all 0.2s ease-out;
  will-change: transform;
}

.active .icon {
  transform: translateY(-30px);
}

.active .icon:after {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -30px;
  top: 50%;
  width: 60px;
  border-radius: 1000px;
  height: 60px;
  background-color: var(--secondary-color);
  z-index: -1;
  animation: bubblesAnimation 0.3s linear forwards;
}

.active .icon:before {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -35px;
  top: 34%;
  width: 70px;
  border-radius: 1000px;
  height: 70px;
  background-color: var(--light);
  transform: translateY(-30px);
  z-index: -1;
}

@keyframes bubblesAnimation {
  0% {
    transform: scale(0) translateY(-30px);
  }
  70% {
    transform: scale(1.1) translateY(-30px);
  }
  100% {
    transform: scale(1) translateY(-30px);
  }
}

